<header class="site-header">
    <div class="site-title">
        <a href="{{ site.baseurl }}/" title="{{ site.title }}">{{ site.title }}</a>
    </div>
    
    <div class="about-me">
        <span class="profile">NHN Ent. Developer Junyong Lee</span>
        <p class="contact">
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        <a class="ion-social-github" href="{{ site.github_url }}"></a>
        </p>
    </div>

    <div class="shortcut">
        <a class="toggle-search ion-search" href="#"></a>
        <div class="site-search">
            <input class="inp-search" type="text"/>
            <a class="btn-search ion-search" href="#"></a>
        </div>
    </div>
    
    <div class="google-search">
        <script>
            (function() {
            var cx = '014789032985599478567:3e8ktoogaja';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
        </script>
        <gcse:search></gcse:search>
    </div>
</header>