/***
Base layout
***/
html, body{
    background:none rgb(53, 46, 44);
    max-width: 800px;
    margin: 0 auto;
    height:100%;
}

.page-content{
    background: none #f5eddc;
    min-height: 100%;
    margin-bottom:2.5em;
    padding: 1.5em 0 4em;
}

/***
Site Header
***/
.site-header{
    background:none rgb(53, 46, 44);
    padding:30px 0 8px;
    position:relative;
}
.site-title{
    text-align:center;
    font-size:2.0em;
    font-weight:bolder;
    
    a,
    a:active{
        color:white;
        text-decoration: none;
    }
}

.about-me{
    text-align:center;
    
    .profile,
    a,
    a:active{
        color:#B5B3AD;
        font-size:0.8em;
        display:inline-block;
    }
}

.shortcut{
    position:absolute;
    right:0;
    top:45px;
    
    a{
        color:#B5B3AD;
        display:block;
        font-size:1.5em;
        line-height: 1.2em;
        
        &:active,
        &:hover{
            color:white;
        }
    }
}

.site-search{
    position:absolute;
    right:0;
    bottom:0;
    background:none #B5B3AD;
    width:170px;
    padding-left:0.2em;
    padding-right:0.5em;
    margin-right:-0.5em;
    border-radius:15px;
    text-align:right;
    display:none;
    
    .inp-search{
        width:130px;
        display:inline-block;
        background:none transparent;
        border: 0 none;
        outline: none;
        top: -2px;
        position: relative;
        line-height: 1.6em;
    } 
    .btn-search{
        font-size:1.5em;
        display:inline-block;
        color:rgb(53,46,44);
    }
}

.google-search{
    .gsc-control-cse{
        background: none transparent;
        border: 0 none;
        position:absolute;
        right:0;
        bottom:0;
    }
    form{
        display:none;
    }
}


/***
Home 
***/
.post-list{
    list-style:none;
    padding: 0;
    margin: 0;
    
    > li{
        border-bottom:1px solid rgba(0,39,59,.08);
        padding-bottom:0.3em;
        margin-bottom:0.7em;
    }
    
    .title{
        color: #191413;
        font-size: 2em;
        font-weight: bold;
        text-decoration: none;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        
        transition: all .1s linear;
        -webkit-transition: all .1s linear;
        border-bottom:1px solid transparent;
        line-height: 1.3em;
        &:hover,
        &:active{
            border-bottom:1px solid #7F7A79;
        }
    }
    .date{
        color: #7F7A79;
        display:block;
        font-size:0.8em;
    }
    .preview{
        color:rgb(53,46,44);
        font-size:0.9em;
        margin: 1.0em 0;
    }
}

.pagination{
    text-align:center;
    margin-top:6em;
    position:relative;
    
    .prev,
    .page-number,
    .next{
        color:#7F7A79;
        font-size:0.8em;
        display:inline-block;
    }
    
    .prev,
    .next{
        position:absolute;
        text-decoration:none;
        transition: all .1s linear;
        -webkit-transition: all .1s linear;
        border-bottom:1px solid transparent;
        
        &:active,
        &:hover{
            border-bottom-color:#B5B3AD;
        }
        
    }
    .prev{
        left:13px;
    }
    .next{
        right:13px;
    }
    
    
    .prev:before,
    .next:after{
        content:' ';
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        top: 6px;
        background: url(../images/icon-gray-arrow.svg) no-repeat;
        background-size: 10px 10px;
    }
    .next:after{
        right: -13px;
    }
    .prev:before{
        left: -13px;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}


/***
Post
***/
.post-header{
    border-bottom:2px solid rgba(0,39,59,.08);
    padding-bottom:2.0em;
    margin-bottom:2.0em;
}
.post-title{
    color:#191413;
    font-size:2em;
    font-weight:bold;
    margin:0;
}
.post-meta{
    margin:0;
    color: #7F7A79;
}


/***
Archive
***/
.archive-list{
    list-style:none;
    padding:0;
    margin:0;
    
    a{
        color: #191413;
        font-size: 0.9em;
        text-decoration: none;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        
        transition: all .1s linear;
        -webkit-transition: all .1s linear;
        border-bottom:1px solid transparent;
        line-height: 1.3em;
        &:hover,
        &:active{
            border-bottom:1px solid #7F7A79;
        }
    }
    
    .title{
        
    }
    .date{
        float:right;
    }
}